body{
	background-image: url(../img/landscape.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0px auto;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
}

.container{
	background-color: #ddd;
	width: 900px;
	height: 700px;
	padding: 10px;
	text-align: left;
	margin: 0px auto;
	line-height: 2em;
}

.container h1{

}

.container p{
	background-color: #C0C0C0;
}

.container i{
	color: blue;
	background-color: #fff;
	border-radius: 5px;
	width: 30px;
	height: 20px;
}